#sudoku{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:81vw;
    height:81vw;
    font-size:5vw;
    font-family:sans-serif;
    margin:auto;
    margin-bottom:20px;
  }
  #difs{
    font-size:3vw;
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:fit-content;
    margin:auto;
    flex-wrap:wrap;
    padding:5px;
    background-color:#fa8072;
    height:fit-content;
  }
  #buttons{
    background-color:rgb(138, 202, 242);
    display:flex;
    flex-wrap:wrap;
    font-size:15px;
    justify-content:center;
    gap:1vw;
    margin:auto;
  }
  .psbutton{
    text-decoration:none;
    color:black;
    width:fit-content;
    height:fit-content;
    margin-left:5px;
    margin-right:5px;
    padding:5px 5px;
    border: 3px black solid;
    border-radius: 5px;
    background-color:#eee089;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .psbutton:hover{
    color:white;
    background-color:black;
  }
  #rules{
    font-size:15px;
    display:flex;
    flex-wrap:wrap;
    margin:1vw;
    border-radius:20px;
    padding:15px;
    border:3px black solid;
    background-color:#eee089;
    height:fit-content;
  }
  .arrowbutton{
    height:40px;
    width:40px;
  }
  .arrowbutton img{
    width:100%;
    height:100%;
  }
  #directionpad{
    height:150px;
    width:150px;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin:auto;
    background-color:#fa8072;
    border-radius:5px;
    border: 3px black solid;
    margin-top:20px;
  }
  @media screen and (min-width:900px){
  #sudoku{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:30.06vw;
    height:30.06vw;
    font-size:1.6vw;
    font-family:sans-serif;
    margin:auto;
  }
  #rules{
    font-size:1.3vw;
    display:flex;
    flex-wrap:wrap;
    margin:1vw;
    border-radius:20px;
    padding:15px;
    border:3px black solid;
    width:25vw;
    position:absolute;
    left:5vw;
    background-color:#eee089;
    height:fit-content;
  }
  #difs{
    font-size:1.3vw;
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:fit-content;
    margin:auto;
    margin-top:0;
    flex-wrap:wrap;
    padding:5px;
    background-color:rgb(138, 202, 242);
    height:fit-content;
    border:3px black solid;
    border-top:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #buttons{
    background-color:rgb(138, 202, 242);
    display:flex;
    flex-wrap:wrap;
    font-size:1.3vw;
    justify-content:center;
    gap:1vw;
    width:25vw;
    left:70vw;
    position:absolute;
  }
}