body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    width:100%;
    text-align:center;
}
.button{
    width:fit-content;
    height:fit-content;
    font-size:20px;
    border-radius:5px;
    background-color:rgb(42, 18, 89);
    padding:10px;
    color:white;
}
.button:hover{
    background-color:rgb(222, 189, 41);
    color:black;
}
.navbar{
    background-color:white;
    display:flex;
    width:100vw;
    margin:auto;
    justify-content:space-evenly;
    z-index:100000;
}
.topbar{
    background-color:rgb(222, 189, 41);
}
a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    color:rgb(204, 138, 16);
}
a:hover{
    color:black;
}
.title{
    background-color:rgb(222, 189, 41);
    width:100%;
    height:fit-content;
    text-align:center;
    padding:10px;
}
.content{
    margin:auto;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
}
.bodytext{
    grid-row:1/2;
    grid-column:2/3;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    padding: 20px;
    background-color: rgb(153, 208, 220);
}
.footer{
    height:10vh;
    background-color:rgb(222, 189, 41);
    width:100%;
}
h1{
    font-family:eczar;
    font-size:50px;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
}
.leftsidebar{
    grid-row: 1/2;
    grid-column: 1/2;
    padding:1vw;
    background-color:tan;
    display:flex;
    flex-flow: column wrap;
    justify-content:top;
    
}
.rightsidebar{
    grid-row:1/2;
    grid-column:3/4;
    padding:1vw;
    background-color:tan;
    display:flex;
    flex-flow: column wrap;
    justify-content:top;
}

img{
    width:13vw;
    height:10vw;
    margin:1vw;
}
.caption{
    width:13vw;
    font-size:1.25vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:1vw;
}
.pole{
    width:0px;
    position:absolute;
    display:none;
    z-index:5;
    border-radius:2px;
  }
  .dot{
    width:8px;
    height:8px;
    position:absolute;
    border-radius:4px;
    left:50vw;
    top:0px;
    z-index:10;
    display:none;
}
  .flag{
    position:absolute;
    display:none;
    width:12px;
    height:12px;
    z-index:6;
  }
  #instructions, #quizlink{
    display:none;
    z-index:100;
  }
#map{
    margin:20px auto;
    width:300px;
    height:150px;
}
#score{
    z-index:100;
    background-color:rgb(42, 18, 89);
    margin-top:10px;
    color:white;
    position:static;
    width:100%;
    height:fit-content;
    border-radius:10px;
    border: 2px black solid;
    text-align:center;

}
#target{
    display:flex;
    justify-content:center;
    margin:auto;
    margin-bottom:5px;
    font-size:15px;
}
#round{
    padding:10px;
    position:absolute; 
    display:none; 
    top:40vh; 
    left:40vw; 
    border:3px black solid; 
    border-radius:5px;
    background-color:rgb(42, 18, 89);
    color:white;
    width:150px;
    height:fit-content;
}
#quizfooter{
    position:fixed;
    top:90vh;
}
#topcover{
    width:100%;
    height:10px;
    left:0px;
    margin:0px;
    position:absolute;
    background-color:tan;
}
#bottomcover{
    width:100%;
    height:10px;
    left:0px;
    margin:0px;
    margin-top:150px;
    position:absolute;
    background-color:tan;
}
@media screen and (min-width:900px){
    #map{
        width:800px;
        height:400px;
    }
    #round{
        padding:10px;
        position:absolute; 
        display:none; 
        top:50vh; 
        left:40vw; 
        border:3px black solid; 
        border-radius:5px;
        background-color:rgb(42, 18, 89);
        color:white;
        width:150px;
        height:fit-content;
    }
    .flag{
        width:20px;
        height:20px;
    }
    .dot{
        width:8px;
        height:8px;
        position:absolute;
        border-radius:4px;
        left:50vw;
        top:0px;
        z-index:10;
        display:block;
    }
    .navbar{
        background-color:white;
        display:flex;
        width:50vw;
        margin:auto;
        justify-content:space-evenly;
        z-index:100000;
    }
    #target{
        display:flex;
        justify-content:center;
        margin:auto;
        margin-bottom:5px;
        font-size:20px;
    }
    #topcover{
        width:100%;
        height:20px;
        left:0px;
        margin:0px;
        position:absolute;
        background-color:tan;
    }
    #bottomcover{
        width:100%;
        height:20px;
        left:0px;
        margin:0px;
        margin-top:400px;
        position:absolute;
        background-color:tan;
    }
    #quizfooter{
        position:static;
    }
}
@media screen and (min-width:1200px){
#quizlink{
    display:flex;
    width:110px;
    left: 1vw;
    position:absolute;
    top:10px;
    height:110px;
    background-color:rgb(42, 18, 89);
    color:white;
    border-radius:1vw;
    border: 2px black solid;
    padding:5px;
    justify-content:center;
    align-items:center;
}
#qrcode{
    width:90px;
    height:90px;
    z-index:10000000;
    margin:0;
}
#instructions{
    display:flex;
    left:1vw;
    position:absolute;
    width:170px;
    color:black;
    background-color:rgb(153, 208, 220);
    border-radius:1vw;
    border: 2px black solid;
    flex-flow:row wrap;
    padding:5px;
    margin-top:20px;
    justify-content:center;
}
#instructions h2{
    font-size:22px;
}
#score{
    z-index:100;
    background-color:rgb(42, 18, 89);
    margin-top:10px;
    color:white;
    padding:1vw;
    position:absolute;
    left:83vw;
    border-radius:10px;
    border: 2px black solid;
    text-align:center;
    width:15vw;
}
#target{
    display:flex;
    justify-content:center;
    margin:auto;
    margin-bottom:5px;
    font-size:25px;
}

}