.pole{
    width:0px;
    position:absolute;
    display:none;
    z-index:5;
    border-radius:2px;
  }
  .dot{
    width:8px;
    height:8px;
    position:absolute;
    border-radius:4px;
    left:50vw;
    top:0px;
    z-index:10;
    display:none;
  }
  .flag{
    position:absolute;
    display:none;
    width:12px;
    height:12px;
    z-index:6;
  }
  #round{
    padding:10px;
    position:absolute; 
    display:none; 
    top:40vh; 
    left:40vw; 
    border:3px black solid; 
    border-radius:5px;
    background-color:rgb(42, 18, 89);
    color:white;
    width:150px;
    height:fit-content;
  }
  #map{
    margin:20px auto;
    width:300px;
    height:150px;
  }
  #score{
    z-index:100;
    background-color:rgb(42, 18, 89);
    margin-top:10px;
    color:white;
    position:static;
    width:100%;
    height:fit-content;
    border-radius:10px;
    border: 2px black solid;
    text-align:center;
  
  }
  @media screen and (min-width:900px){
    #map{
        width:800px;
        height:400px;
    }
    #round{
        padding:10px;
        position:absolute; 
        display:none; 
        top:50vh; 
        left:40vw; 
        border:3px black solid; 
        border-radius:5px;
        background-color:rgb(42, 18, 89);
        color:white;
        width:150px;
        height:fit-content;
    }
    .flag{
        width:20px;
        height:20px;
    }
    .dot{
        width:8px;
        height:8px;
        position:absolute;
        border-radius:4px;
        left:50vw;
        top:0px;
        z-index:10;
        display:block;
    }
    #target{
        display:flex;
        justify-content:center;
        margin:auto;
        margin-bottom:5px;
        font-size:20px;
    }
  }
  @media screen and (min-width:1200px){
    #score{
        z-index:100;
        background-color:rgb(42, 18, 89);
        margin-top:10px;
        color:white;
        padding:1vw;
        position:absolute;
        left:83vw;
        border-radius:10px;
        border: 2px black solid;
        text-align:center;
        width:15vw;
    }
    #target{
        display:flex;
        justify-content:center;
        margin:auto;
        margin-bottom:5px;
        font-size:25px;
    }
  }