{% extends "base.html" %}
<head>
    {% block title %}
    nakedPairs puzzles
    {% endblock %}
</head>
<body>
    {% block content %}
    <center><h1>nakedPairs puzzles</h1></center>
    <p>The checkCells method checks any cell in the same box, row, or column as 
        the cell that is being evaluated.</p>
    <p> Any number in those cells can be eliminated as a possibility
        for the cell that is being evaluated. If only one possibility is left, this number must be the value in the cell.
    </p>
    <div style= "position:absolute; left:350px; background-color:none; z-index:1">
        <button onclick="location.href='/puzzles/nakedpairs/easy';" name="easy" z-index=1>Easy</button>
    </div>
    <div style= "position:absolute; left:400px; background-color:none; z-index:1">
        <button onclick="location.href='/puzzles/nakedpairs/medium';" name="medium" z-index=1>Medium</button>
    </div>
    <div style= "position:absolute; left:478px; background-color:none; z-index:1">
        <button onclick="location.href='/puzzles/nakedpairs/hard';" name="hard" >Hard</button>
    </div>
    <div style= "z-index:0; width:330px; background-color:rgb(227, 128, 243); font-size:medium; height:40px;border-bottom-right-radius:10px;border-top-right-radius:10px;position:absolute"><h3>Puzzle Difficulty Options:</h3>
    </div>
    <br>
    <br>
    <div style = "position:absolute; left:70px">
        <font size="2">1</font>
        </div>
        <div style = "position:absolute; left:120px">
          <font size="2">2</font>
          </div>
          <div style = "position:absolute; left:170px">
            <font size="2">3</font>
            </div>
            <div style = "position:absolute; left:220px">
              <font size="2">4</font>
              </div>
              <div style = "position:absolute; left:270px">
                <font size="2">5</font>
                </div>
                <div style = "position:absolute; left:320px">
                  <font size="2">6</font>
                  </div>
                  <div style = "position:absolute; left:370px">
                    <font size="2">7</font>
                    </div>
                    <div style = "position:absolute; left:420px">
                      <font size="2">8</font>
                      </div>
                      <div style = "position:absolute; left:470px">
                        <font size="2">9</font>
                        </div>
                        <br>
    {% for i in range(nums.size) %}
            {% if (i+1) % 9 == 1 %}
            <div style = "position:absolute; left:20px">
            <font size="4">{{lets[(i+1)//9]}}</font>
            </div>
            {% endif %}
            {% if (i+1) % 9 == 1 %}
                <div class="square" style = "position:absolute; left:55px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:70px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %}
            {% endif %}
            {% if (i+1) % 9 == 2 %}
                <div class="square" style = "position:absolute; left:105px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:120px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %}  
            {% endif %}
            {% if (i+1) % 9 == 3 %}
                <div class="square" style = "position:absolute; left:155px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:170px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %}    
            {% endif %}
            {% if (i+1) % 9 == 4 %}
                <div class="square" style = "position:absolute; left:205px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:220px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %}  
            {% endif %}
            {% if (i+1) % 9 == 5 %}
                <div class="square" style = "position:absolute; left:255px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:270px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %}  
            {% endif %}
            {% if (i+1) % 9 == 6 %}
                <div class="square" style = "position:absolute; left:305px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:320px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %}  
            {% endif %}
            {% if (i+1) % 9 == 7 %}
                <div class="square" style = "position:absolute; left:355px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:370px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %} 
            {% endif %}
            {% if (i+1) % 9 == 8 %}
                <div class="square" style = "position:absolute; left:405px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:420px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %}     
            {% endif %}
            {% if (i+1) % 9 == 0 %}
                <div class="square" style = "position:absolute; left:455px"></div>
                {% if nums[i] != 0 %}
                    <div style = "position:absolute; left:470px">
                    <font size="5">{{nums[i]}}</font>
                    </div>
                {% endif %}  
                </br>
                </br>   
            {% endif %}
        {% endfor %}
        <p>Which cell can be filled by using the checkCells method?</p>
        <form action="#" method="post">
            <p><input type="text" name="cell"/></p>
            <p><input type="submit" value="solve"/></p>
        </form>
        {% if result == True %}
            <h1>Correct!</h1>
            <p>New Puzzle:</p>
            <div style= "position:absolute; left:10px; background-color:none; z-index:1">
                <button onclick="location.href='/puzzles/nakedpairs/easy';" name="easy" z-index=1>Easy</button>
            </div>
            <div style= "position:absolute; left:60px; background-color:none; z-index:1">
                <button onclick="location.href='/puzzles/nakedpairs/medium';" name="medium" z-index=1>Medium</button>
            </div>
            <div style= "position:absolute; left:138px; background-color:none; z-index:1">
                <button onclick="location.href='/puzzles/nakedpairs/hard';" name="hard" >Hard</button>
            </div>
        {% endif %}
        {% if result == False %}
            <h1>Incorrect</h1>
            <p>Correct answer was: {{ans}}</p>
            <p>New Puzzle:</p>
            <div style= "position:absolute; left:10px; background-color:none; z-index:1">
                <button onclick="location.href='/puzzles/nakedpairs/easy';" name="easy" z-index=1>Easy</button>
            </div>
            <div style= "position:absolute; left:60px; background-color:none; z-index:1">
                <button onclick="location.href='/puzzles/nakedpairs/medium';" name="medium" z-index=1>Medium</button>
            </div>
            <div style= "position:absolute; left:138px; background-color:none; z-index:1">
                <button onclick="location.href='/puzzles/nakedpairs/hard';" name="hard" >Hard</button>
            </div>
        {% endif %}
    {% endblock %}
</body>

