<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/gridicon.jpg">
        <link rel="stylesheet" href="/static/css/relistyles.css"/>
    </head>
    <body>
        <div class="topbar">
            <div class="navbar">
                <a href="/finalproject">Homepage</a>
                <a href="/finalproject/content">Content</a>
                <a href="/finalproject/quiz">Quiz</a>
                <a href="/finalproject/sources">Sources</a>
            </div>
        </div>
        <div class="title"><h1>RELI 245 Final Project</h1></div>
        <div id="quizlink"><img id="qrcode"src="/static/qrcode.png"></div>
        <div class="content">   
            <div class="leftsidebar">
                <img src="/static/waterjugs.jpg">
                <div class="caption">Water jugs in the Sonoran Desert</div>
                <img src="/static/dropthecharges.jpg">
                <div class="caption">A poster advocating for the innocence of Scott Warren.</div>
            </div>
            <div class="bodytext">
                <h3>Water, Not Walls</h3>
            <p>In "Water, Not Walls", Barbara Sostaita describes her experience with humanitarian workers that build water stations in the desert for undocumented immigrants.
                These water stations are sacred objects to Sostaita.
                They allow immigrants to survive the brutal desert, and facilitate mobility and connection between people. 
            </p>
            <p>Sostaita describes her interactions with Scott Warren, an activist and humanitarian who worked in the brutal Sonoran Desert of Arizona.
                Warren worked with a program called <a href="nomoredeaths.com/en/">No More Deaths</a> (also known as No Mas Muertes), which aims to stop the death of undocumented immigrants in the borderlands. 
                No More Deaths is an interfaith organization in Arizona dedicated to saving lives. They commonly assist undocumented immigrants who are trying to avoid the border patrol, and who often lack food, water, and supplies.
                Warren's work with NMD eventually led to his arrest. He was arrested in 2018 for placing jugs of water in the desert on restricted land. He was also tried
                for providing food and shelter to two Central American migrants, who had nothing but their clothes and were struggling to survive.
            </p>
            <p>Sostaita spent several weeks with him before his trial in 2019, and describes his humanitarian efforts in her article.
                He placed and refilled water stations around the Sonoran Desert, potentially saving the lives of hundreds of immigrants who were desperate for water. 
                She also recalls that Warren performed a ritual on every body he found in the desert. 
                The ritual consists of honoring the deceased person
                by trying to understand what they may have seen or felt before their death. He looks around the surrounding area to
                envision what the person saw before they died, and then offers a moment of meditation to how they may have felt in the time of their death,
                and the pain and labor that they endured. 
            </p>
            <p>This ceremony is not specific to a certain religion, but it is certainly a spiritual act.
                As we have discussed throughout the semester, spirituality in practice encompasses more than just the church doctrine, and a religion encapsulates more than what occurs within the walls of a church.
                Grappling with the paradoxical significance and fragility of a human life is undoubtedly a central aspect of religion and spirituality, and Warren does this in his humanitarian work. 
                Warren's ritual for the dead acknowledges the significance of the people who die and suffer in the borderlands, but the water jugs are perhaps a better example.
                Water jugs save the lives of people who hold huge significance in someone else's life, and the importance of the connections that these jugs can facilitate are invaluable.
                Through their restorative power, they can bring families together, open the door for new connections and experiences, and most importantly save precious human lives.</p>
                <p>In addition, as Catherine Panter-Brick points out in her <a href="https://macmillan.yale.edu/sites/default/files/files/Solidarity_JRS_2021.pdf">article</a> on the role of faith in humanitarian work, humanitarian work is a way of putting faith into action.
                Many humanitarian workers are inspired by their religious beliefs to help others or fight injustices. The water jugs represent a symbol of their efforts to combat evil, and to abide by a moral code that is informed by faith. Therefore, the water jugs can also be seen as a sacred object for humanitarian workers.
                
            </p>
            <p>You can check out Barbara's article here: <a href="https://muse.jhu.edu/article/811709/pdf">Water not Walls</a></p>
            <p>Also check out Barbara's website, which contains links to her other articles: <a href="https://barbarasostaita.com">barbarasostaita.com</a></p>
        </div>
        <div class="rightsidebar">
            <img src="/static/shrine.jpg">
                <div class="caption">No More Deaths shrine for the dead</div>
                <img src="/static/memorial.jpg">
                <div class="caption">Memorial for the dead in Ajo, Arizona</div>
        </div>
    </div> 
        <div class="footer"></div>
</body>
</html>