<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Season stats</h2>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>IP</th>
    <th>W</th>
    <th>L</th>
    <th>ERA</th>
    <th>BB</th>
    <th>K</th>
    <th>HR</th>
    <th>SHO</th>
    <th>ERA+</th>
    <th>WAR</th>
  </tr>
  <tr>
    <td>
    {{stats[0]}}
    </td>
    <td>
    {{stats[1]}}
    </td>
    <td>
    {{stats[2]}}
    </td>
    <td>
    {{stats[3]}}
    </td>
    <td>
    {{stats[4]}}
    </td>
    <td>
    {{stats[5]}}
    </td>
    <td>
    {{stats[6]}}
    </td>
    <td>
    {{stats[7]}}
    </td>
    <td>
    {{stats[8]}}
    </td>
    <td>
    {{stats[9]}}
    </td>
    <td>
    {{stats[10]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[11]}}
    </td>
    <td>
    {{stats[12]}}
    </td>
    <td>
    {{stats[13]}}
    </td>
    <td>
    {{stats[14]}}
    </td>
    <td>
    {{stats[15]}}
    </td>
    <td>
    {{stats[16]}}
    </td>
    <td>
    {{stats[17]}}
    </td>
    <td>
    {{stats[18]}}
    </td>
    <td>
    {{stats[19]}}
    </td>
    <td>
    {{stats[20]}}
    </td>
    <td>
    {{stats[21]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[22]}}
    </td>
    <td>
    {{stats[23]}}
    </td>
    <td>
    {{stats[24]}}
    </td>
    <td>
    {{stats[25]}}
    </td>
    <td>
    {{stats[26]}}
    </td>
    <td>
    {{stats[27]}}
    </td>
    <td>
    {{stats[28]}}
    </td>
    <td>
    {{stats[29]}}
    </td>
    <td>
    {{stats[30]}}
    </td>
    <td>
    {{stats[31]}}
    </td>
    <td>
    {{stats[32]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[33]}}
    </td>
    <td>
    {{stats[34]}}
    </td>
    <td>
    {{stats[35]}}
    </td>
    <td>
    {{stats[36]}}
    </td>
    <td>
    {{stats[37]}}
    </td>
    <td>
    {{stats[38]}}
    </td>
    <td>
    {{stats[39]}}
    </td>
    <td>
    {{stats[40]}}
    </td>
    <td>
    {{stats[41]}}
    </td>
    <td>
    {{stats[42]}}
    </td>
    <td>
    {{stats[43]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[44]}}
    </td>
    <td>
    {{stats[45]}}
    </td>
    <td>
    {{stats[46]}}
    </td>
    <td>
    {{stats[47]}}
    </td>
    <td>
    {{stats[48]}}
    </td>
    <td>
    {{stats[49]}}
    </td>
    <td>
    {{stats[50]}}
    </td>
    <td>
    {{stats[51]}}
    </td>
    <td>
    {{stats[52]}}
    </td>
    <td>
    {{stats[53]}}
    </td>
    <td>
    {{stats[54]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[55]}}
    </td>
    <td>
    {{stats[56]}}
    </td>
    <td>
    {{stats[57]}}
    </td>
    <td>
    {{stats[58]}}
    </td>
    <td>
    {{stats[59]}}
    </td>
    <td>
    {{stats[60]}}
    </td>
    <td>
    {{stats[61]}}
    </td>
    <td>
    {{stats[62]}}
    </td>
    <td>
    {{stats[63]}}
    </td>
    <td>
    {{stats[64]}}
    </td>
    <td>
    {{stats[65]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[66]}}
    </td>
    <td>
    {{stats[67]}}
    </td>
    <td>
    {{stats[68]}}
    </td>
    <td>
    {{stats[69]}}
    </td>
    <td>
    {{stats[70]}}
    </td>
    <td>
    {{stats[71]}}
    </td>
    <td>
    {{stats[72]}}
    </td>
    <td>
    {{stats[73]}}
    </td>
    <td>
    {{stats[74]}}
    </td>
    <td>
    {{stats[75]}}
    </td>
    <td>
    {{stats[76]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[77]}}
    </td>
    <td>
    {{stats[78]}}
    </td>
    <td>
    {{stats[79]}}
    </td>
    <td>
    {{stats[80]}}
    </td>
    <td>
    {{stats[81]}}
    </td>
    <td>
    {{stats[82]}}
    </td>
    <td>
    {{stats[83]}}
    </td>
    <td>
    {{stats[84]}}
    </td>
    <td>
    {{stats[85]}}
    </td>
    <td>
    {{stats[86]}}
    </td>
    <td>
    {{stats[87]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[88]}}
    </td>
    <td>
    {{stats[89]}}
    </td>
    <td>
    {{stats[90]}}
    </td>
    <td>
    {{stats[91]}}
    </td>
    <td>
    {{stats[92]}}
    </td>
    <td>
    {{stats[93]}}
    </td>
    <td>
    {{stats[94]}}
    </td>
    <td>
    {{stats[95]}}
    </td>
    <td>
    {{stats[96]}}
    </td>
    <td>
    {{stats[97]}}
    </td>
    <td>
    {{stats[98]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[99]}}
    </td>
    <td>
    {{stats[100]}}
    </td>
    <td>
    {{stats[101]}}
    </td>
    <td>
    {{stats[102]}}
    </td>
    <td>
    {{stats[103]}}
    </td>
    <td>
    {{stats[104]}}
    </td>
    <td>
    {{stats[105]}}
    </td>
    <td>
    {{stats[106]}}
    </td>
    <td>
    {{stats[107]}}
    </td>
    <td>
    {{stats[108]}}
    </td>
    <td>
    {{stats[109]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[110]}}
    </td>
    <td>
    {{stats[111]}}
    </td>
    <td>
    {{stats[112]}}
    </td>
    <td>
    {{stats[113]}}
    </td>
    <td>
    {{stats[114]}}
    </td>
    <td>
    {{stats[115]}}
    </td>
    <td>
    {{stats[116]}}
    </td>
    <td>
    {{stats[117]}}
    </td>
    <td>
    {{stats[118]}}
    </td>
    <td>
    {{stats[119]}}
    </td>
    <td>
    {{stats[120]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[121]}}
    </td>
    <td>
    {{stats[122]}}
    </td>
    <td>
    {{stats[123]}}
    </td>
    <td>
    {{stats[124]}}
    </td>
    <td>
    {{stats[125]}}
    </td>
    <td>
    {{stats[126]}}
    </td>
    <td>
    {{stats[127]}}
    </td>
    <td>
    {{stats[128]}}
    </td>
    <td>
    {{stats[129]}}
    </td>
    <td>
    {{stats[130]}}
    </td>
    <td>
    {{stats[131]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[132]}}
    </td>
    <td>
    {{stats[133]}}
    </td>
    <td>
    {{stats[134]}}
    </td>
    <td>
    {{stats[135]}}
    </td>
    <td>
    {{stats[136]}}
    </td>
    <td>
    {{stats[137]}}
    </td>
    <td>
    {{stats[138]}}
    </td>
    <td>
    {{stats[139]}}
    </td>
    <td>
    {{stats[140]}}
    </td>
    <td>
    {{stats[141]}}
    </td>
    <td>
    {{stats[142]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[143]}}
    </td>
    <td>
    {{stats[144]}}
    </td>
    <td>
    {{stats[145]}}
    </td>
    <td>
    {{stats[146]}}
    </td>
    <td>
    {{stats[147]}}
    </td>
    <td>
    {{stats[148]}}
    </td>
    <td>
    {{stats[149]}}
    </td>
    <td>
    {{stats[150]}}
    </td>
    <td>
    {{stats[151]}}
    </td>
    <td>
    {{stats[152]}}
    </td>
    <td>
    {{stats[153]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[154]}}
    </td>
    <td>
    {{stats[155]}}
    </td>
    <td>
    {{stats[156]}}
    </td>
    <td>
    {{stats[157]}}
    </td>
    <td>
    {{stats[158]}}
    </td>
    <td>
    {{stats[159]}}
    </td>
    <td>
    {{stats[160]}}
    </td>
    <td>
    {{stats[161]}}
    </td>
    <td>
    {{stats[162]}}
    </td>
    <td>
    {{stats[163]}}
    </td>
    <td>
    {{stats[164]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[165]}}
    </td>
    <td>
    {{stats[166]}}
    </td>
    <td>
    {{stats[167]}}
    </td>
    <td>
    {{stats[168]}}
    </td>
    <td>
    {{stats[169]}}
    </td>
    <td>
    {{stats[170]}}
    </td>
    <td>
    {{stats[171]}}
    </td>
    <td>
    {{stats[172]}}
    </td>
    <td>
    {{stats[173]}}
    </td>
    <td>
    {{stats[174]}}
    </td>
    <td>
    {{stats[175]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[176]}}
    </td>
    <td>
    {{stats[177]}}
    </td>
    <td>
    {{stats[178]}}
    </td>
    <td>
    {{stats[179]}}
    </td>
    <td>
    {{stats[180]}}
    </td>
    <td>
    {{stats[181]}}
    </td>
    <td>
    {{stats[182]}}
    </td>
    <td>
    {{stats[183]}}
    </td>
    <td>
    {{stats[184]}}
    </td>
    <td>
    {{stats[185]}}
    </td>
    <td>
    {{stats[186]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[187]}}
    </td>
    <td>
    {{stats[188]}}
    </td>
    <td>
    {{stats[189]}}
    </td>
    <td>
    {{stats[190]}}
    </td>
    <td>
    {{stats[191]}}
    </td>
    <td>
    {{stats[192]}}
    </td>
    <td>
    {{stats[193]}}
    </td>
    <td>
    {{stats[194]}}
    </td>
    <td>
    {{stats[195]}}
    </td>
    <td>
    {{stats[196]}}
    </td>
    <td>
    {{stats[197]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[198]}}
    </td>
    <td>
    {{stats[199]}}
    </td>
    <td>
    {{stats[200]}}
    </td>
    <td>
    {{stats[201]}}
    </td>
    <td>
    {{stats[202]}}
    </td>
    <td>
    {{stats[203]}}
    </td>
    <td>
    {{stats[204]}}
    </td>
    <td>
    {{stats[205]}}
    </td>
    <td>
    {{stats[206]}}
    </td>
    <td>
    {{stats[207]}}
    </td>
    <td>
    {{stats[208]}}
    </td>
    </tr>
    <tr>
    <td>
    {{stats[209]}}
    </td>
    <td>
    {{stats[210]}}
    </td>
    <td>
    {{stats[211]}}
    </td>
    <td>
    {{stats[212]}}
    </td>
    <td>
    {{stats[213]}}
    </td>
    <td>
    {{stats[214]}}
    </td>
    <td>
    {{stats[215]}}
    </td>
    <td>
    {{stats[216]}}
    </td>
    <td>
    {{stats[217]}}
    </td>
    <td>
    {{stats[218]}}
    </td>
    <td>
    {{stats[219]}}
    </td>
    </tr>
</table>

<p>To understand the example better, we have added borders to the table.</p>

</body>
</html>