{% extends "base.html" %}
    <head>
      {% block css %} 
        <link rel="stylesheet" href="/static/css/solverstyles.css"/>
        {% endblock %}
        {% block title %}
          Sudoku Solver
          {% endblock %}
    </head>
        {% block content %}
        <a id="backbutton" href="/solver"></a>
        <div id="title" style="width:100%"><h1><b>Sudoku Solver</b></h1></div>
        <div class="contentcontainer">
        <div id="sudokucontainer" style="grid-column:2/3">
        <div id="nums" style="display:flex;grid-row:1/2;grid-column:2/3;justify-content:space-around">
          <b>1</b>
          <b>2</b>
          <b>3</b>
          <b>4</b>
          <b>5</b>
          <b>6</b>
          <b>7</b>
          <b>8</b>
          <b>9</b>
              </div>
              
              <div id="lets" style="grid-row:2/3;grid-column:1/2">
              <div style="width:100%"><b>A</b></div> 
              <div style="width:100%"><b>B</b></div> 
              <div style="width:100%"><b>C</b></div> 
              <div style="width:100%"><b>D</b></div> 
              <div style="width:100%"><b>E</b></div> 
              <div style="width:100%"><b>F</b></div> 
              <div style="width:100%"><b>G</b></div> 
              <div style="width:100%"><b>H</b></div> 
              <div style="width:100%"><b>I</b></div> 
              </div>
                  <div id="sudoku">
                  <input class="searchbar" type="input" id="A1" name="A1" autocomplete="off"/>
                  <input class="searchbar" type="input" id="A2" name="A2" autocomplete="off"/>
                  <input class="searchbar" type="input" id="A3"style="border-right:blue 0.25vw solid" name="A3" autocomplete="off"/>
                  <input class="searchbar" type="input" id="A4" style="border-left:blue 0.25vw solid"name="A4" autocomplete="off"/>
                  <input class="searchbar" type="input" id="A5" name="A5" autocomplete="off"/>
                  <input class="searchbar" type="input" id="A6" style="border-right:blue 0.25vw solid"name="A6" autocomplete="off"/>
                  <input class="searchbar" id="A7"  type="input" style="border-left:blue 0.25vw solid"name="A7" autocomplete="off"/>
                  <input class="searchbar" id="A8"  type="input" name="A8" autocomplete="off"/>
                  <input class="searchbar"id="A9" type="input" name="A9" autocomplete="off"/>
                  <input class="searchbar"id="B1" type="input" name="B1" autocomplete="off"/>
                  <input class="searchbar"id="B2" type="input" name="B2" autocomplete="off"/>
                  <input class="searchbar"id="B3" type="input"  style="border-right:blue 0.25vw solid"name="B3" autocomplete="off"/>
                  <input class="searchbar"id="B4" type="input" name="B4"style="border-left:blue 0.25vw solid" autocomplete="off"/>
                  <input class="searchbar"id="B5" type="input" name="B5" autocomplete="off"/>
                  <input class="searchbar"id="B6"  type="input" style="border-right:blue 0.25vw solid" name="B6" autocomplete="off"/>
                  <input class="searchbar" id="B7" type="input" name="B7"style="border-left:blue 0.25vw solid" autocomplete="off"/>
                  <input class="searchbar"id="B8" type="input" name="B8" autocomplete="off"/>
                  <input class="searchbar"id="B9" type="input" name="B9" autocomplete="off"/>
                  <input class="searchbar"id="C1" style="border-bottom:blue 0.25vw solid" type="input" name="C1" autocomplete="off"/>
                  <input class="searchbar" id="C2"style="border-bottom:blue 0.25vw solid" type="input" name="C2" autocomplete="off"/>
                  <input class="searchbar"id="C3" style="border-bottom:blue 0.25vw solid;border-right:blue 0.25vw solid" type="input" name="C3" autocomplete="off"/>
                  <input class="searchbar"id="C4" style="border-bottom:blue 0.25vw solid;border-left:blue 0.25vw solid" type="input" name="C4" autocomplete="off"/>
                  <input class="searchbar"id="C5" style="border-bottom:blue 0.25vw solid" type="input" name="C5" autocomplete="off"/>
                  <input class="searchbar"id="C6" style="border-bottom:blue 0.25vw solid;border-right:blue 0.25vw solid"type="input" name="C6" autocomplete="off"/>
                  <input class="searchbar"id="C7" style="border-bottom:blue 0.25vw solid;border-left:blue 0.25vw solid" type="input" name="C7" autocomplete="off"/>
                  <input class="searchbar"id="C8" style="border-bottom:blue 0.25vw solid" type="input" name="C8" autocomplete="off"/>
                  <input class="searchbar"id="C9" style="border-bottom:blue 0.25vw solid" type="input" name="C9" autocomplete="off"/>
                  <input class="searchbar"id="D1" style="border-top:blue 0.25vw solid" type="input" name="D1" autocomplete="off"/>
                  <input class="searchbar"id="D2" style="border-top:blue 0.25vw solid"  type="input" name="D2" autocomplete="off"/>
                  <input class="searchbar"id="D3" style="border-top:blue 0.25vw solid;border-right:blue 0.25vw solid" type="input" name="D3" autocomplete="off"/>
                  <input class="searchbar"id="D4" style="border-top: blue 0.25vw solid;border-left:0.25vw blue solid" type="input" name="D4" autocomplete="off"/>
                  <input class="searchbar"id="D5" style="border-top:blue 0.25vw solid" type="input" name="D5" autocomplete="off"/>
                  <input class="searchbar" id="D6"style="border-top:blue 0.25vw solid; border-right:blue 0.25vw solid"type="input" name="D6" autocomplete="off"/>
                  <input class="searchbar" id="D7"style="border-top:blue 0.25vw solid;border-left:0.25vw blue solid" type="input" name="D7" autocomplete="off"/>
                  <input class="searchbar"id="D8" style="border-top:blue 0.25vw solid" type="input" name="D8" autocomplete="off"/>
                  <input class="searchbar" id="D9"style="border-top:blue 0.25vw solid"type="input" name="D9" autocomplete="off"/>
                  <input class="searchbar"id="E1"  type="input" name="E1" autocomplete="off"/>
                  <input class="searchbar"id="E2"  type="input" name="E2" autocomplete="off"/>
                  <input class="searchbar" id="E3"  style="border-right:blue 0.25vw solid"type="input" name="E3" autocomplete="off"/>
                  <input class="searchbar" id="E4" style="border-left:blue 0.25vw solid"type="input" name="E4" autocomplete="off"/>
                  <input class="searchbar" id="E5" type="input" name="E5" autocomplete="off"/>
                  <input class="searchbar" id="E6"  style="border-right:blue 0.25vw solid"type="input" name="E6" autocomplete="off"/>
                  <input class="searchbar" id="E7" style="border-left:blue 0.25vw solid"type="input" name="E7" autocomplete="off"/>
                  <input class="searchbar" id="E8"type="input" name="E8" autocomplete="off"/>
                  <input class="searchbar" id="E9" type="input" name="E9" autocomplete="off"/>
                  <input class="searchbar" id="F1"style="border-bottom:blue 0.25vw solid" type="input" name="F1" autocomplete="off"/>
                  <input class="searchbar" id="F2"style="border-bottom:blue 0.25vw solid" type="input" name="F2" autocomplete="off"/>
                  <input class="searchbar" id="F3" style="border-right:blue 0.25vw solid;border-bottom:blue 0.25vw solid" type="input" name="F3" autocomplete="off"/>
                  <input class="searchbar" id="F4"style="border-bottom:blue 0.25vw solid;border-left:blue 0.25vw solid" type="input" name="F4" autocomplete="off"/>
                  <input class="searchbar" id="F5"style="border-bottom:blue 0.25vw solid" type="input" name="F5" autocomplete="off"/>
                  <input class="searchbar" id="F6" style="border-right:blue 0.25vw solid;border-bottom:blue 0.25vw solid" type="input" name="F6" autocomplete="off"/>
                  <input class="searchbar" id="F7"style="border-bottom:blue 0.25vw solid;border-left:blue 0.25vw solid" type="input" name="F7" autocomplete="off"/>
                  <input class="searchbar" id="F8"style="border-bottom:blue 0.25vw solid" type="input" name="F8" autocomplete="off"/>
                  <input class="searchbar" id="F9"style="border-bottom:blue 0.25vw solid" type="input" name="F9" autocomplete="off"/>
                  <input class="searchbar" id="G1" style="border-top:0.25vw blue solid"type="input" name="G1" autocomplete="off"/>
                  <input class="searchbar" id="G2" style="border-top:0.25vw blue solid"type="input" name="G2" autocomplete="off"/>
                  <input class="searchbar" id="G3" style="border-top:0.25vw blue solid;border-right:blue 0.25vw solid"type="input" name="G3" autocomplete="off"/>
                  <input class="searchbar" id="G4" style="border-top:0.25vw blue solid;border-left:blue 0.25vw solid"type="input" name="G4" autocomplete="off"/>
                  <input class="searchbar" id="G5" style="border-top:0.25vw blue solid"type="input" name="G5" autocomplete="off"/>
                  <input class="searchbar" id="G6" style="border-top:0.25vw blue solid;border-right:blue 0.25vw solid"type="input" name="G6" autocomplete="off"/>
                  <input class="searchbar" id="G7" style="border-top:0.25vw blue solid;border-left:blue 0.25vw solid"type="input" name="G7" autocomplete="off"/>
                  <input class="searchbar" id="G8" style="border-top:0.25vw blue solid"type="input" name="G8" autocomplete="off"/>
                  <input class="searchbar" id="G9" style="border-top:0.25vw blue solid"type="input" name="G9" autocomplete="off"/>
                  <input class="searchbar" id="H1" type="input" name="H1" autocomplete="off"/>
                  <input class="searchbar" id="H2" type="input" name="H2" autocomplete="off"/>
                  <input class="searchbar" id="H3"  style="border-right:blue 0.25vw solid"type="input" name="H3" autocomplete="off"/>
                  <input class="searchbar" id="H4" style="border-left:blue 0.25vw solid"type="input" name="H4" autocomplete="off"/>
                  <input class="searchbar" id="H5" type="input" name="H5" autocomplete="off"/>
                  <input class="searchbar" id="H6"  style="border-right:blue 0.25vw solid"type="input" name="H6" autocomplete="off"/>
                  <input class="searchbar" id="H7"style="border-left:blue 0.25vw solid" type="input" name="H7" autocomplete="off"/>
                  <input class="searchbar" id="H8" type="input" name="H8" autocomplete="off"/>
                  <input class="searchbar" id="H9" type="input" name="H9" autocomplete="off"/>
                  <input class="searchbar"id="I1" type="input" name="I1" autocomplete="off"/>
                  <input class="searchbar"id="I2"   type="input" name="I2" autocomplete="off"/>
                  <input class="searchbar" id="I3" style="border-right:blue 0.25vw solid"type="input" name="I3" autocomplete="off"/>
                  <input class="searchbar" id="I4"style="border-left:blue 0.25vw solid"type="input" name="I4" autocomplete="off"/>
                  <input class="searchbar"id="I5"  type="input" name="I5" autocomplete="off"/>
                  <input class="searchbar" id="I6" style="border-right:blue 0.25vw solid" type="input" name="I6" autocomplete="off"/>
                  <input class="searchbar" id="I7" style="border-left:blue 0.25vw solid"type="input" name="I7" autocomplete="off"/>
                  <input class="searchbar" id="I8" type="input" name="I8" autocomplete="off"/>
                  <input class="searchbar" id="I9" type="input" name="I9" autocomplete="off"/>
                  </div>
                  </div>
        <div class="obj"id="buttons" >
          <form action="/solver/solve" method="post">
            <input class="button"type="submit"  value="Solve completely">
        </form>
        <form action="/solver/onestep" method="post">
            <input class="button"type="submit" value="Next step">
        </form>
        <form action="/solver/backone" method="post">
            <input class="button"type="submit" value="Back one step">
        </form>
        <form action="/solver/clear" method="post">
            <input class="button"type="submit" value="Clear grid">
        </form>
        <form action="/solver/solvecell" method="post">
        <input id="cell"type="text" name="cell" value="Solve cell"/>
        </form>
        </div>
        {% if steps > 1 %}
                  {% if methods[0] != "no" %}
              <div class="obj" id="steps">
                  <div style="font-size:1.25em;width:100%;font-family:sans-serif;" ><p><b>Steps (scroll down):</b></p></div>
                  {% for x in range(methods|length)%}
                  <div style="width:100%"><p><b>{{methods[x]}}</b></p></div>
                  <div style="width:100%;"><p><b>Explanation:</b></p></div><div style="width:100%;"><p>{{explain[x]}}</p></div>
                  {% endfor %}
              </div>
              {% endif %}
              {% endif %}
                  {% if steps == 1 %}
                  <div class="obj" id="steps">
                    <div style="width:100%;font-size:1.25em;font-family:sans-serif;"><p><b>Next step:</b></p></div>  
                    <div style="width:100%;"><b><p>{{methods[0]}}</p></b></div>
                    <div style="width:100%"><p><b>Explanation:</b></p></div><div style="width:100%"><p>{{explain[0]}}</p></div>
                   </div>
                   {% endif %}
                   {% if steps == 0 %} 
                   <div class="obj" id="steps" >
                    <div style="width:100%;font-family:sans-serif;"><p><b>Steps (click Next step or Solve completely to reveal steps):</b></p></div>  
                   </div>
                   {% endif %}
        <div id="features" class="obj" >
          <div style="width:100%"><p><h3>Solving options:</h3></p></div>
          <div style="width:100%"><p><b>Solve completely:</b> Solves the whole sudoku.</p></div>
          <div style="width:100%"><p><b>Next step:</b> Solves the sudoku one step at a time,
          in the same order that the sudoku solver solved the puzzle.</p></div>
          <div style="width:100%"><p><b>Back one step:</b> Goes back one step.</p></div>
          <div style="width:100%"><p><b>Clear grid:</b> Deletes all solved numbers.</p></div>
          <div style="width:100%"><p><b>Solve another sudoku:</b> Returns to the sudoku input page.</p></div>
          <div style="width:100%"><p><b>Solve cell:</b> Solver will solve a certain cell. Example: User types in "H2", and the solver reveals the number in cell H2.</p></div></div>
        </div>
        
      </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %} 
            {% for msg in messages %} 
                <div style = "position:absolute; left:45vw; top:40vh; color:red">{{msg}}</div>
            {% endfor %}
        {% endif %} 
    {% endwith %} 
        <div id="methodsguide" style = "color:white;display:flex;position:absolute;justify-content:center;left:78vw;top:7vw;font-size:1.25vw;width:20vw;height:2vw;background-color: black">Methods Guide </div>
        <button id="checkcells" type="button" class="collapsible" style = "left:78vw;top:10vw;font-size:1.25vw;background-color: #6ea3df">Check Cells</button>
        <div class="content" style="font-size:1.25vw;background-color: #6ea3df" >
        <p>Filled cell by eliminating candidates found in the same row, box, and column as the solved cell.</p>
        
        </div>
        
        <button id="checkboxes"type="button" class="collapsible" style = "left:78vw;top:13vw;font-size:1.25vw;background-color: #6ea3df">Check Boxes</button>
        <div class="content" style="font-size:1.25vw;background-color: #6ea3df" >
        <p>This cell was the only cell in its box that could contain a particular number.</p>
        
        </div>
        
        <button id="checkrows"type="button" class="collapsible" style = "left:78vw;top:16vw;font-size:1.25vw;background-color: #6ea3df">Check Rows/Columns</button>
        <div class="content" style="font-size:1.25vw;background-color: #6ea3df" >
        <p>This cell was the only cell in its row (or column) that could contain a particular number.</p>
        
        </div>
        
        <button id="nakedpairs"type="button" class="collapsible" style = "left:78vw;top:19vw;font-size:1.25vw;background-color: rgb(237, 237, 14)">Naked Pairs</button>
        <div class="content" style="font-size:1.25vw;background-color: rgb(237, 237, 14)"  >
        <p>Eliminated options by creating a naked pair in the same row, column, or box (two cells that collectively had only two candidates).</p>
        
        </div>
        
        <button id="nakedtriples"type="button" class="collapsible" style = "left:78vw;top:22vw;font-size:1.25vw;background-color: rgb(237, 237, 14)">Naked Triples</button>
        <div class="content" style="font-size:1.25vw;background-color: rgb(237, 237, 14)" >
        <p>Eliminated options by creating a naked triple in the same row, column, or box (three cells that collectively had only three candidates).</p>
        
        </div>
        
            <button id="hiddenpairs"type="button" class="collapsible" style = "left:78vw;top:25vw;font-size:1.25vw;background-color: rgb(237, 237, 14)">Hidden Pairs</button>
            <div class="content" style="font-size:1.25vw;background-color: rgb(237, 237, 14)" >
            <p>Reduced a hidden pair to a naked pair (the two cells in the naked pair were the only two options for two candidates), then eliminating those candidates from other cells that are adjacent to both of the naked pair cells.</p>
            
            </div>
        
        <button id="boxreduction"type="button" class="collapsible" style = "left:78vw;top:28vw;font-size:1.25vw;background-color: rgb(237, 237, 14)">Box Reduction</button>
        <div class="content" style="font-size:1.25vw;background-color: rgb(237, 237, 14)" >
        <p>Eliminated options of cells in a row or column because a candidate must go in a particular row or column of a box.</p>
        
        </div>
        
        <button id="rowreduction" type="button" class="collapsible" style= "left:78vw;top:31vw;font-size:1.25vw;background-color: rgb(237, 237, 14)">Row/Column Reduction</button>
        <div class="content" style="font-size:1.25vw;background-color: rgb(237, 237, 14)" >
        <p>Eliminated candidates of cells in a box because a candidate in a row or column could only go in a particular box.</p>
        
        </div>
        
        <button id="xwing"type="button" class="collapsible" style= "left:78vw;top:34vw;font-size:1.25vw;background-color:rgb(227, 138, 12)">x-wing</button>
        <div class="content" style="font-size:1.25vw;background-color:rgb(227, 138, 12)" >
        <p>Eliminated candidates by x-wing method (see methods page for more details).</p>
        
        </div>
        
        <button id="xywing"type="button" class="collapsible" style= "left:78vw;top:37vw;font-size:1.25vw;background-color:rgb(227, 138, 12)">xy-wing</button>
        <div class="content" style="font-size:1.25vw;background-color:rgb(227, 138, 12)" >
        <p>Eliminated candidates by xy-wing method (see methods page for more details).
             </p>
        
        </div>
        
        <button id="swordfish"type="button" class="collapsible" style= "left:78vw;top:40vw;font-size:1.25vw;background-color:rgb(227, 138, 12)">swordfish</button>
        <div class="content" style="font-size:1.25vw;background-color:rgb(227, 138, 12)" >
        <p>Eliminated candidates by swordfish method (see methods page for more details).</p>
        
        </div>
            <button id="guessandcheck"type="button" class="collapsible" style="left:78vw;top:46vw;font-size:1.25vw;background-color: rgb(243, 67, 36)">Guess and Check</button>
            <div class="content" style="font-size:1.25vw;background-color: rgb(243, 67, 36)" >
            <p>Eliminated candidates by guess and check method (see methods page for more details).</p>
            
            </div>
         <script>
          var solvecell = document.getElementById('cell')
            solvecell.addEventListener('click', function(){
                solvecell.value = ""
            })
                // Check if the width is less than the height
                var width = window.innerWidth;
                var height = window.innerHeight;
                var t = document.getElementById("title")
                var tbot = t.offsetHeight + t.offsetTop
                document.getElementById('backbutton').style.top = document.getElementById('title').offsetTop.toString() + 'px'
                console.log(screen.width)
                console.log(screen.height)
                console.log(width)
                console.log(height)
                if (width < height) {
                  // Width is less than height, so execute the query
                  if(screen.width < 800){
                    width = screen.width
                    height = screen.height
                  }
                  console.log('Width is less than height');
                  document.getElementById('methodsguide').style.display = 'none'
                  var colls = document.getElementsByClassName('collapsible')
                  for(let i=0;i < colls.length;i++){
                      colls[i].style.display = 'none'
                      colls[i].style.left = '0vw'                        
                  }
                } else {
                  console.log('Width is greater than or equal to height');
                  const width = window.innerWidth;
                const height = window.innerHeight;
                document.getElementById('methodsguide').style.display = 'flex'
                  document.getElementById('methodsguide').style.top = (tbot + 0.01*height - 0.02*width).toString() + 'px'
                  document.getElementById('checkcells').style.top = (tbot + 0.01*height).toString() + 'px'
                  document.getElementById('checkboxes').style.top = (tbot + 0.01*height + 0.03*width).toString() + 'px'
                  document.getElementById('checkrows').style.top = (tbot + 0.01*height + 0.06*width).toString() + 'px'
                  document.getElementById('nakedpairs').style.top = (tbot + 0.01*height + 0.09*width).toString() + 'px'
                  document.getElementById('nakedtriples').style.top = (tbot + 0.01*height + 0.12*width).toString() + 'px'
                  document.getElementById('hiddenpairs').style.top = (tbot + 0.01*height + 0.15*width).toString() + 'px'
                  document.getElementById('boxreduction').style.top = (tbot + 0.01*height + 0.18*width).toString() + 'px'
                  document.getElementById('rowreduction').style.top = (tbot + 0.01*height + 0.21*width).toString() + 'px'
                  document.getElementById('xwing').style.top = (tbot + 0.01*height + 0.24*width).toString() + 'px'
                  document.getElementById('xywing').style.top = (tbot + 0.01*height + 0.27*width).toString() + 'px'
                  document.getElementById('swordfish').style.top = (tbot + 0.01*height + 0.30*width).toString() + 'px'
                  document.getElementById('guessandcheck').style.top = (tbot + 0.01*height + 0.33*width).toString() + 'px'
                  var colls = document.getElementsByClassName('collapsible')
                  for(let i=0;i < colls.length;i++){
                      colls[i].style.display = 'block'
                      colls[i].style.left = '78vw'

                  }
                }
                </script>
        <script>
            // Define a function to execute the query
            function executeQuery() {
              var width = window.innerWidth;
              var height = window.innerHeight;
              var t = document.getElementById("title")
              var tbot = t.offsetHeight + t.offsetTop
              if (width < 800) {
                console.log('width<800')
                if(screen.width < 500){
                    width = screen.width
                    height = screen.height
                  }
                console.log('Width is less than height');
                document.getElementById('methodsguide').style.display = 'none'
                  var colls = document.getElementsByClassName('collapsible')
                  for(let i=0;i < colls.length;i++){
                      colls[i].style.display = 'none'
                      colls[i].style.left = '0vw'
                  }
                } else {
                  const width = window.innerWidth;
                const height = window.innerHeight;
                console.log('width > 800')
                document.getElementById('methodsguide').style.display = 'flex'
                  document.getElementById('methodsguide').style.top = (tbot + 0.01*height - 0.02*width).toString() + 'px'
                  document.getElementById('checkcells').style.top = (tbot + 0.01*height).toString() + 'px'
                  document.getElementById('checkboxes').style.top = (tbot + 0.01*height + 0.03*width).toString() + 'px'
                  document.getElementById('checkrows').style.top = (tbot + 0.01*height + 0.06*width).toString() + 'px'
                  document.getElementById('nakedpairs').style.top = (tbot + 0.01*height + 0.09*width).toString() + 'px'
                  document.getElementById('nakedtriples').style.top = (tbot + 0.01*height + 0.12*width).toString() + 'px'
                  document.getElementById('hiddenpairs').style.top = (tbot + 0.01*height + 0.15*width).toString() + 'px'
                  document.getElementById('boxreduction').style.top = (tbot + 0.01*height + 0.18*width).toString() + 'px'
                  document.getElementById('rowreduction').style.top = (tbot + 0.01*height + 0.21*width).toString() + 'px'
                  document.getElementById('xwing').style.top = (tbot + 0.01*height + 0.24*width).toString() + 'px'
                  document.getElementById('xywing').style.top = (tbot + 0.01*height + 0.27*width).toString() + 'px'
                  document.getElementById('swordfish').style.top = (tbot + 0.01*height + 0.30*width).toString() + 'px'
                  document.getElementById('guessandcheck').style.top = (tbot + 0.01*height + 0.33*width).toString() + 'px'
                  var colls = document.getElementsByClassName('collapsible')
                  for(let i=0;i < colls.length;i++){
                      colls[i].style.display = 'block'
                      colls[i].style.left = '78vw'

                  }
            }
          }
            // Attach the event listener to the window resize event
            window.addEventListener('resize', executeQuery);
          </script>
          <script>
            var solvecell = document.getElementById('cell')
            solvecell.addEventListener('click', function(){
                solvecell.value = ""
            })
            var coll = document.getElementsByClassName("collapsible");
            var i;
            for (i = 0; i < coll.length; i++) {
                var a = coll[i]
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                const width = window.innerWidth;
                const height = window.innerHeight;
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                  content.style.position = "absolute";
                  content.style.left = "78vw";
                  content.style.zIndex = 1
                  var t = document.getElementById('title')
                  var tbot = t.offsetHeight + t.offsetTop
                  var j;
                  for (j=0; j < coll.length; j++) {
                    var b = coll[j];
                    if(content.previousElementSibling === coll[j]) {
                        content.style.top = (tbot + (.03*(j+1))*width + .01*height).toString() + 'px'
                        content.style.backgroundColor = b.backgroundColor;
                    }
                    }
                  }
                  })
                }
            
            </script>
         <script>
            let bluesjs = {{ blues }}
            let graysjs = {{ grays }}
            let numsjs = {{ nums }}
            const letters = ["A", "B", "C", "D", "E", "F", "G", "H", "I"]
            for (let i=0; i < 81; i++){
              let j = i%9 + 1
              document.getElementById(letters[Math.floor(i/9)] + j.toString()).readOnly = 'true'
                console.log(numsjs[i])
      
                if(bluesjs.includes(i)){
                    console.log('blue')
                    document.getElementById(letters[Math.floor(i/9)] + j.toString()).style.color = "blue"
                    document.getElementById(letters[Math.floor(i/9)] +j.toString()).value = numsjs[i]
            
                    }
                    if(graysjs.includes(i)){
                        console.log('gray')
                        document.getElementById(letters[Math.floor(i/9)] + j.toString()).style.color = "gray"
                        document.getElementById(letters[Math.floor(i/9)] + j.toString()).value = numsjs[i]
                
                        }
            }
            </script>
        {% endblock %}