{% extends "colpuztemplate.html" %}
<head>
    {% block title %}
    Check Columns puzzles
    {% endblock %}
</head>
<body>
    {% block header %}
    <div id="title"style="text-align:center"><b>Check Columns puzzles</b></div>
    {% endblock %} 
    {% block method %} 
    <div id="methods"class="methodbox"><p><b>Method explanation: </b>To use the Check Columns method, choose a column, then select a missing number from that column. Then, check the column
        to see if there is only one possible location for the missing number. If there is only one cell that has that number as a a candidate, the cell
        is filled in with the missing number. </p></div>
    <br>
    {% endblock %}
    {% block buttons %}
    <div id="buttons" >
        <div style="font-size:1.25em;display:flex;gap:5px;justify-content:center"><b>New Puzzle:</b></div>
        <div style= " background-color:none; z-index:1">
        <button class="button" id="easy" style="border-radius:5px"onclick="location.href='/puzzles/checkcols/easy';" name="easy" z-index=1>Easy</button>
    </div>
    <div style= "background-color:none; z-index:1">
        <button class="button" id="medium"style="border-radius:5px"onclick="location.href='/puzzles/checkcols/medium';" name="medium" z-index=1>Medium</button>
    </div>
    <div style= "background-color:none; z-index:1">
        <button class="button" id="hard"style="border-radius:5px"onclick="location.href='/puzzles/checkcols/hard';" name="hard" >Hard</button>
    </div>
    </div>
        {% endblock %}
    {% block results %}
    {% if result != True and result != False %} 
        {% if puztype == "cell" %}
       <div id="prompt" ><p>Which <b>cell</b> can be solved by using the Check Columns method?</p>
        <form action="#" method="post">
            <p><input type="text" name="cell"/></p>
            <p><input type="submit" value="solve"/></p>
        </form>
    </div>
        {% endif %}
        {% if puztype == "number" %}
        <div id="prompt" ><p>Using the Check Columns method, which <b>number</b> goes in cell {{cell}}?</p>
        <form action="#" method="post">
            <p><input type="text" name="cell"/></p>
            <p><input type="submit" value="solve"/></p>
        </form>
    </div>
        {% endif %}
        {% endif %}
        {% if result == True %}
        <div id="message" >
            <h1>Correct!</h1>
             <div id="newpuzzle"><p>New Puzzle:</p></div>
        </div>
        <div id="buttons2" >
            <div id="newpuzzle"><p><b>New Puzzle:</b></p></div>
            <div style= "background-color:none; z-index:1">
                <button class="button" style="border-radius:5px"onclick="location.href='/puzzles/checkcols/easy';" name="easy" z-index=1>Easy</button>
            </div>
            <div style= " background-color:none; z-index:1">
                <button class="button" style="border-radius:5px"onclick="location.href='/puzzles/checkcols/medium';" name="medium" z-index=1>Medium</button>
            </div>
            <div style= "background-color:none; z-index:1">
                <button class="button" style="border-radius:5px"onclick="location.href='/puzzles/checkcols/hard';" name="hard" >Hard</button>
            </div>
        </div>
        {% endif %}
        {% if result == False %}
        <div id="message" >
            <h1>Incorrect</h1>
            <p>Correct answer was: {{ans}}</p>
            <div id="newpuzzle"><p>New Puzzle:</p></div>
        </div>
        <div id="buttons2" >
            <div id="newpuzzle"><p><b>New Puzzle:</b></p></div>
            <div style= "background-color:none; z-index:1">
                <button class="button" id="easy2" style="border-radius:5px"onclick="location.href='/puzzles/checkcols/easy';" name="easy" z-index=1>Easy</button>
            </div>
            <div style= "background-color:none; z-index:1">
                <button class="button" id="medium2"style="border-radius:5px"onclick="location.href='/puzzles/checkcols/medium';" name="medium" z-index=1>Medium</button>
            </div>
            <div style= "background-color:none; z-index:1">
                <button class="button" id="hard2"style="border-radius:5px"onclick="location.href='/puzzles/checkcols/hard';" name="hard" >Hard</button>
            </div>
        </div>
        {% endif %}
        <div id="example"><b>Example:</b></div>
        <img id="image" src="{{ url_for('static', filename='checkcolsexample.png')}}" ></img>
    {% endblock %}
</body>
