{% extends "puzzlestemplate.html" %}
<head>
    {% block title %}
    Naked Triples puzzles
    {% endblock %}
</head>
<body>
    {% block header %}
    <div id="title" style="text-align:center"><h1><b>Naked Triples puzzles</b></h1></div>
    {% endblock %} 
    {% block method %}
    <div id="methods"class="methodbox"><p>The Naked Triples method can be used if three cells in the same row, column, or box collectively have only three candidates.
        Those three cells must therefore contain these three numbers in some permutation, so any other unfilled cells in this row, column, or box
        cannot contain any of these three numbers. Therefore, these three numbers can be eliminated as a candidate for those unfilled cells.</p></div>
    <br>
    {% endblock %}
    {% block buttons %}
    <div id="buttons" >
        <div style="font-size:1.25em;display:flex;gap:5px;justify-content:center"><b>New Puzzle:</b></div>
        <div style= "background-color:none; z-index:1">
        <button class="button" id="easy" style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/easy';" name="easy" z-index=1>Easy</button>
    </div>
    <div style= "background-color:none; z-index:1">
        <button class="button" id="medium"style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/medium';" name="medium" z-index=1>Medium</button>
    </div>
    <div style= "background-color:none; z-index:1">
        <button class="button" id="hard"style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/hard';" name="hard" >Hard</button>
    </div>
    </div>
    {% endblock %}
    {% block results %}
    
        {% if result != True and result != False %} 
        {% if puztype == "cell" %}
       <div id="prompt"><p>Which <b>cell</b> can be solved by using the Naked Triples method?</p>
        <form action="#" method="post">
            <p><input type="text" name="cell"/></p>
            <p><input type="submit" value="solve"/></p>
        </form>
    </div>
        {% endif %}
        {% if puztype == "number" %}
        <div id="prompt"><p>Using the Naked Triples method, which <b>number</b> goes in cell {{cell}}?</p>
        <form action="#" method="post">
            <p><input type="text" name="cell"/></p>
            <p><input type="submit" value="solve"/></p>
        </form>
    </div>
        {% endif %}
        {% endif %}
        {% if result == True %}
        <div id="message">
            <h1>Correct!</h1>
        </div>
        <div id="buttons2">
            <div id="newpuzzle"><p><b>New Puzzle:</b></p></div>
            <div style= "background-color:none; z-index:1">
                <button class="button" id="easy2"style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/easy';" name="easy" z-index=1>Easy</button>
            </div>
            <div style= " background-color:none; z-index:1">
                <button class="button" id="medium2"style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/medium';" name="medium" z-index=1>Medium</button>
            </div>
            <div style= "background-color:none; z-index:1">
                <button class="button" id="hard2" style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/hard';" name="hard" >Hard</button>
            </div>
        </div>
        {% endif %}
        {% if result == False %}
        <div id="message" >
            <div id="incorrect"><h1>Incorrect</h1></div>
            <div id="correction"><p>Correct answer was: {{ans}}</p></div>
        </div>
        <div id="buttons2">
            <div id="newpuzzle"><p><b>New Puzzle:</b></p></div>
            <div style= "background-color:none; z-index:1">
                <button class="button" id="easy2" style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/easy';" name="easy" z-index=1>Easy</button>
            </div>
            <div style= "background-color:none; z-index:1">
                <button class="button" id="medium2"style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/medium';" name="medium" z-index=1>Medium</button>
            </div>
            <div style= "background-color:none; z-index:1">
                <button class="button" id="hard2"style="border-radius:5px"onclick="location.href='/puzzles/nakedtriples/hard';" name="hard" >Hard</button>
            </div>
        </div>
        {% endif %}
        <div id="example"><b>Example:</b></div>
    <img id="image" src="{{ url_for('static', filename='nakedtripleexample.png')}}" ></img>
        {% endblock %}
        
</body>

