{% extends "base.html" %}
    <head>
        {% block title %}Puzzles{% endblock %}
    </head>
    <body>
        {% block content %}
        <center><h1>Puzzles</h1></center>
        <div id="buttonscontainer" style="padding:20px;margin:auto;display:flex;width:fit-content;justify-content:center;background-color:rgb(138, 202, 242);flex-flow:column wrap">
        <form action="#" method="post">
        <p><a class="button" href="/puzzles/checkcells/easy">checkCells</a></p>
        <p><a class="button" href="/puzzles/checkboxes/easy">checkBoxes</a></p>
        <p><a class="button" href="/puzzles/checkrows/easy">checkRows</a></p>
        <p><a class="button" href="/puzzles/checkcols/easy">checkCols</a></p>
        <p><a class="button" href="/puzzles/nakedsets/easy">nakedSets</a></p>
        <p><a class="button" href="/puzzles/boxreduction/easy">boxReduction</a></p>
        <p><a class="button" href="/puzzles/rowreduction/easy">rowReduction</a></p>
        <p><a class="button" href="/puzzles/colreduction/easy">columnReduction</a></p>
        <p><a class="button" href="/puzzles/nakedtriples/easy">nakedTriples</a></p>
        <p><a class="button" href="/puzzles/xwing/easy">x-wing</a></p>
        <p><a class="button" href="/puzzles/xywing/easy">xy-wing</a></p>
        <p><a class="button" href="/puzzles/swordfish/easy">swordfish</a></p>
        </form>
        </div>
        {% endblock %}
    </body>
</html>